*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
eos_binary_table.dat
helm_data.tab
forcing.dat
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
build/wind_profile1D.dat
build/radiation-test01explicit.ev
build/radiation-test01implicit.ev
build/radiation-test02explicit.ev
build/radiation-test02implicit.ev
build/test000
*.cmdx
*.cmod
*.ilm
*.stb
eos_lom.dat