*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
eos_binary_table.dat
helm_data.tab
forcing.dat
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
*.cmdx
*.cmod
*.ilm
*.stb
