# The Hall of Shame
Daniel Price <daniel.price@monash.edu> dprice <dprice@msgln4.its.monash.edu.au>
Daniel Price <daniel.price@monash.edu> Daniel Price <daniel.price@sci.monash.edu.au>
Daniel Price <daniel.price@monash.edu> Daniel Price (Monash University) <dprice@monarch.erc.monash.edu.au>
<daniel.price@monash.edu> <dprice@cantab.net>
Hauke Worpel <hworpel@aip.de> <hauke.worpel@monash.edu>
Hauke Worpel <hworpel@aip.de> hworpel <hauke.worpel@monash.edu>
Hauke Worpel <hworpel@aip.de> hworpel <hworpel@s0000910.maths.monash.edu.au>
Hauke Worpel <hworpel@aip.de> <hworpel@hworpel-K52F.(none)>
Hauke Worpel <hworpel@aip.de> <hauke@newton.new>
Hauke Worpel <hworpel@aip.de> Hauke WOrpel <hworpel@aip.de>
Hauke Worpel <hworpel@aip.de> Hauke Worpel <hauke@ursa.aip.de>
Chris Nixon <cjn@leicester.ac.uk> <chris.nixon@jila.colorado.edu>
<cjn@leicester.ac.uk> <chris.nixon@leicester.ac.uk>
Chris Nixon <cjn@leicester.ac.uk> chris.nixon@jila.colorado.edu <chni8840@frasier2.local>
Rebecca Nealon <rebecca.nealon@warwick.ac.uk> <rebecca.nealon@leicester.ac.uk>
Rebecca Nealon <rebecca.nealon@warwick.ac.uk> <rebecca.nealon@monash.edu>
Rebecca Nealon <rebecca.nealon@warwick.ac.uk> Rebecca Nealon <rnealon@msgln6.its.monash.edu.au>
Rebecca Nealon <rebecca.nealon@warwick.ac.uk> Rebecca Nealon <rnealon@g2.hpc.swin.edu.au>
Rebecca Nealon <rebecca.nealon@warwick.ac.uk> Nealon <rln12@ph-tag-pgr1.uol.le.ac.uk>
Alex Pettitt <alex@astro1.sci.hokudai.ac.jp> Alex <alex@astro1.sci.hokudai.ac.jp>
Alex Pettitt <alex@astro1.sci.hokudai.ac.jp> <alex@astro.ex.ac.uk>
Alex Pettitt <alex@astro1.sci.hokudai.ac.jp> <alexpettitt@Izanagi.local>
<tstricco@mun.ca> <ttricco@cita.utoronto.ca>
<tstricco@mun.ca> <ttricco@astro.ex.ac.uk>
<tstricco@mun.ca> <tricco@solo.(none)>
<tstricco@mun.ca> <tricco@rin.(none)>
<tstricco@mun.ca> <ttricco@g2.hpc.swin.edu.au>
<tstricco@mun.ca> <terrence.tricco@monash.edu>
Terrence Tricco <tstricco@mun.ca> <ttricco@cita.utoronto.ca> 
James Wurster <jhw5@st-andrews.ac.uk> James Wurster <j.wurster@exeter.ac.uk>
James Wurster <jhw5@st-andrews.ac.uk> jameswurster <jameswurster@bitbucket.org>
James Wurster <jhw5@st-andrews.ac.uk> jameswurster <james.wurster@monash.edu>
James Wurster <jhw5@st-andrews.ac.uk> <jwurster@g2.hpc.swin.edu.au>
James Wurster <jhw5@st-andrews.ac.uk> James Wurster <james.wurster@monash.edu>
James Wurster <jhw5@st-andrews.ac.uk> James <james.wurster@monash.edu>
James Wurster <jhw5@st-andrews.ac.uk> James <jhw5@st-andrews.ac.uk>
James Wurster <jhw5@st-andrews.ac.uk> James Wurster <jw754@service2.ice.astro.ex.ac.uk>
Ben Ayliffe <b.a.ayliffe@gmail.com>
Owen Kaluza <owen.kaluza@monash.edu> okaluza <okaluza@msgln5.its.monash.edu.au>
Owen Kaluza <owen.kaluza@monash.edu> okaluza <okaluza@msgln6.its.monash.edu.au>
Owen Kaluza <owen.kaluza@monash.edu> Owen Kaluza <Owen.Kaluza@monash.edu>
Mark Bennett <mfbennett@gmail.com>
Drew Wakefield <dkwak1@student.monash.edu>
Stéven Toupin <steven.toupin@gmail.com>
Stéven Toupin <steven.toupin@gmail.com> stoupin <devnull@localhost>
Guillaume Laibe <guillaume.laibe@gmail.com> glaibe <guillaume.laibe@monash.edu>
Guillaume Laibe <guillaume.laibe@gmail.com> glaibe <guillaume.laibe@gmail.com>
Alice Cerioli <alice.cerioli@gmail.com> ALICE CERIOLI <alice.cerioli@gmail.com>
Alice Cerioli <alice.cerioli@gmail.com> <alice.cerioli@atlfarm014.mi.infn.it>
Thomas Reichardt <thomas.reichardt@students.mq.edu.au>
Thomas Reichardt <thomas.reichardt@students.mq.edu.au> Thomas  Reichardt <tr@science.mq.edu.au>
Thomas Reichardt <thomas.reichardt@students.mq.edu.au> Mr Thomas Reichardt <mq42458269@science.mq.edu.au>
Roberto Iaconi <riaconi@science.mq.edu.au> Roberto Iaconi <rxi552@raijin6.(none)>
Roberto Iaconi <riaconi@science.mq.edu.au> Roberto Iaconi <roberto.iaconi@students.mq.edu.au>
Daniel Mentiplay <daniel.mentiplay@protonmail.com> <daniel.mentiplay@monash.edu>
Daniel Mentiplay <daniel.mentiplay@protonmail.com> <d.mentiplay@gmail.com>
Daniel Mentiplay <daniel.mentiplay@protonmail.com> <dmentipl@g2.hpc.swin.edu.au>
Nicole Rodrigues <nicole.rodrigues@monash.edu> Nicole Rodrigues (Monash University) <nrod0001@monarch.erc.monash.edu.au>
Giovanni Dipierro <giovanni.dipierro@leicester.ac.uk> <giovannidipierro@host-203-145.eduroam-local.wifi.le.ac.uk>
Giovanni Dipierro <giovanni.dipierro@leicester.ac.uk> <dc-dipi1@dirac02.rcs.cluster>
Giovanni Dipierro <giovanni.dipierro@leicester.ac.uk> <giovannidipierro@Giovannis-MacBook-Pro.local>
Conrad Chan <conradchan@hotmail.com.au> <conrad.chan@monash.edu>
Conrad Chan <conradchan@hotmail.com.au> Unknown <chan_con@hotmail.com>
Conrad Chan <conradchan@hotmail.com.au> chanconrad <chanconrad@users.noreply.github.com>
Conrad Chan <conradchan@hotmail.com.au> Conrad Chan <8309215+conradtchan@users.noreply.github.com>
Jean-François Gonzalez <Jean-Francois.Gonzalez@ens-lyon.fr>
Arnaud Vericel <arnaud.vericel@univ-lyon1.fr> <Arnaud@macbook-pro-de-arnaud.home>
Arnaud Vericel <arnaud.vericel@univ-lyon1.fr> <arnaudvericel@univ-lyon1.fr>
Arnaud Vericel <arnaud.vericel@univ-lyon1.fr>
Enrico Ragusa <enr.ragusa@gmail.com> <enrico.ragusa@unimi.it>
Enrico Ragusa <enr.ragusa@gmail.com> <enrico.ragusa@gaspare.fisica.unimi.it>
Enrico Ragusa <enr.ragusa@gmail.com> <er198@leicester.ac.uk>
Kieran Hirsh <kieran.hirsh1@monash.edu> <kahir1@student.monash.edu>
Giulia Ballabio <giulia.ballabio2@studenti.unimi.it> Giulia Ballabio <giuliaballabio@Giulias-MacBook-Pro.local>
Mats Esseldeurs <mats.esseldeurs@kuleuven.be>
Mats Esseldeurs <mats.esseldeurs@kuleuven.be> <matsesseldeurs@yahoo.com>
Mats Esseldeurs <mats.esseldeurs@kuleuven.be> <matse@naos.ster.kuleuven.be>
Lionel Siess <lionel.siess@astro.ulb.ac.be>
Lionel Siess <lionel.siess@astro.ulb.ac.be> <Lionel.Siess@ulb.ac.be>
Lionel Siess <lionel.siess@astro.ulb.ac.be> <Lionel.Siess@ulb.be>
Lionel Siess <lionel.siess@astro.ulb.ac.be> <Lionel.Siess@astro.ulb.ac.be>
David Liptai <dliptai@swin.edu.au> <dliptai@hotmail.com>
David Liptai <dliptai@swin.edu.au> <david.liptai@monash.edu>
David Liptai <dliptai@swin.edu.au> <31463304+dliptai@users.noreply.github.com>
<cristiano.longarini@unimi.it> <81079965+crislong@users.noreply.github.com>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> Fitz <fhuu0005@student.monash.edu.au>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> Fitz-Hu <54089891+Fitz-Hu@users.noreply.github.com>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> root <root@Heartie的小电脑.localdomain>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> root <root@Heartie的小电脑.localdomain>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> fitzHu <54089891+Fitz-Hu@users.noreply.github.com>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> Fitz Hu <fhuu0005@student.monash.edu>
Fangyi (Fitz) Hu <fhuu0005@student.monash.edu> fhu <fhuu0005@student.monash.edu>
Megha Sharma <msha0023@student.monash.edu> Megha Sharma <40732335+msha0023@users.noreply.github.com>
Megha Sharma <msha0023@student.monash.edu> megha sharma <rem.shiku@gmail.com>
Megha Sharma <msha0023@student.monash.edu> Megha Sharma <megha@dyn-49-127-43-125.its.monash.edu.au>
Megha Sharma <msha0023@student.monash.edu> Megha Sharma <megha@meghas-air.home>
Megha Sharma <msha0023@student.monash.edu> Megha Sharma <megha.sharma@monash.edu> 
Mike Lau <mike.lau@h-its.org> Mike Lau <55525335+themikelau@users.noreply.github.com>
Mike Lau <mike.lau@h-its.org> Mike Lau <mike.lau@monash.edu>
Elisabeth Borchert <elisabeth.borchert@monash.edu> emborchert <69176538+emborchert@users.noreply.github.com>
Ward Homan <ward.homan@kuleuven.be> ward <ward@leda.ster.kuleuven.be>
Ward Homan <ward.homan@kuleuven.be> wardhoman <33419533+wardhoman@users.noreply.github.com>
Benedetta Veronesi <benedetta.veronesi@unimi.it> benedetta veronesi <benedetta.veronesi@unimi.it>
Benedetta Veronesi <benedetta.veronesi@unimi.it> <benedettaveronesi@dyn-49-127-142-159.its.monash.edu.au>
Phantom benchmark bot <ubuntu@phantom-benchmarks.novalocal> Ubuntu <ubuntu@phantom-benchmarks.novalocal>
Stephane Michoulier <stephane.michoulier@gmail.com> StephaneMichoulier <stephane.michoulier@gmail.com>
Stephane Michoulier <stephane.michoulier@gmail.com> MICHOULIER Stephane <smichoulier@sidus11>
Jolien Malfait <jolien.malfait@kuleuven.be> Jolien128 <72729152+Jolien128@users.noreply.github.com>
Martina Toscani <mtoscani94@gmail.com> <mtoscani@cca004.in2p3.fr>
Martina Toscani <mtoscani94@gmail.com> <martina.toscani@l2it.in2p3.fr>
Sahl Rowther <sahl.rowther@leicester.ac.uk> <sr627@spectre14.cm.cluster>
Sahl Rowther <sahl.rowther@leicester.ac.uk> <sr627@spectre11.cm.cluster>
Sahl Rowther <sahl.rowther@leicester.ac.uk> sahl95 <sahl_rs@yahoo.com>
Caitlyn Hardiman <caitlyn.hardiman1@monash.edu> caitlynhardiman <72479852+caitlynhardiman@users.noreply.github.com>
Amena Faruqi <Amena.Faruqi@warwick.ac.uk> <42060670+amenafaruqi@users.noreply.github.com>
Amena Faruqi <Amena.Faruqi@warwick.ac.uk> Amena Faruqi <afaruqi.97@gmail.com>
Alison Young <alison.young@ed.ac.uk> Alison Young <ayoung@astro.ex.ac.uk>
Simone Ceppi <simo.ceppi@gmail.com> Simone Ceppi <simone.ceppi@unimi.it>
Madeline Overton <overtm2@unlv.nevada.edu> Madeline Nicole Overton <moverton@cherry-creek.local>
Madeline Overton <overtm2@unlv.nevada.edu> Madeline Overton <85810161+moverton000@users.noreply.github.com>
Nicolás Cuello <cuello.nicolas@gmail.com> Nicolas Cuello <cuellonicolas@gmail.com>
Rebecca Martin <rebecca.martin@unlv.edu> rebeccagmartin <74937128+rebeccagmartin@users.noreply.github.com>
Stephen Nielson <stephen.neilson@students.mq.edu.au> s-neilson <36410751+s-neilson@users.noreply.github.com>
Stephen Nielson <stephen.neilson@students.mq.edu.au> Stephen Neilson <36410751+s-neilson@users.noreply.github.com>
Yann Bernard <yann.bernard@univ-grenoble-alpes.fr> Yrisch <yannbernard13@gmail.com>
David Bamba <dbambague@unal.edu.co> DavidBamba <dbambague@unal.edu.co>
Amber Tilly <amber.abs@gmail.com> AmberBTilly <124104643+AmberTilly@users.noreply.github.com>
Ryosuke Hirai <ryosuke.lufc@gmail.com> ryosuke-hirai <ryosuke.lufc@gmail.com>
Ana Lourdes Juarez <analourdesjg17@gmail.com> analulujg <analourdesjg17@gmail.com>
