name: coolingra

# Trigger on pull request, but only for these branches
on:
  push:
    branches: [ master,akytest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  pull_request:
    branches: [ master,akytest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'

env:
  SYSTEM: gfortran
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  OMP_STACKSIZE: 512M
  OMP_NUM_THREADS: 4
  PHANTOM_DIR: ${{ github.workspace }}
  PREFIX: ${{ github.workspace }}/local/

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  coolingra:

    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: install gfortran compiler
      uses: fortran-lang/setup-fortran@v1
      with:
         compiler: gcc

    - name: Check gfortran version
      run: gfortran --version

    - name: "Clone phantom"
      uses: actions/checkout@v4

    - name: "Compile phantom"
      run: make SETUP=testcoolra PREFIX=${PREFIX} phantom 

    - name: "Compile phantomsetup"
      run: make SETUP=testcoolra PREFIX=${PREFIX} RUNDIR=${PREFIX} setup

    - name: "Create test directory and copy binaries"
      run: |
        mkdir -p test_coolra
        cp bin/phantom test_coolra
        cp bin/phantomsetup test_coolra/
        cd test_coolra

    - name: "Download test files from v2025.0.0 release and run phantom test"
      run: |
       cd test_coolra
       cp data/eos/lombardi/sphere.setup .
       cp data/eos/lombardi/sphere.in .

        # Download from the v2025.0.0 release
         #curl -L -o disc.setup "https://github.com/danieljprice/phantom/releases/download/v2025.0.0/disc.setup"
       #  curl -L -o disc.in "https://github.com/danieljprice/phantom/releases/download/v2025.0.0/disc.in"

        
        # Verify SHA256 hashes (macOS compatible)
        # echo "ebd87822f2bf853d14d6f83770cbf4f147a0655de9f542d8463bad47ad6a1151  disc.setup" | shasum -a 256 -c
        # echo "eb990f58add88bdffda00ca9553d1f55c0b20d3276e077c8d9acff6d1d4c5ea1  disc.in" | shasum -a 256 -c
        # echo "0aef5d9f1309ca0579e51ddc621587c946ce2505d3db2da19898fc1fd6b0d244  disc.para" | shasum -a 256 -c

        # run the test, run phantomsetup 3 times to ensure .setup file is rewritten if necessary
        ./phantomsetup sphere.setup
        ./phantomsetup sphere.setup
        ./phantomsetup sphere.setup
        ./phantom sphere.in
